#### $title \n
<% if(deploye){ %>
    Ce projet a aussi été déployé, il est prêt dés maintenant.
<% } else { %>
    Ce projet n'a pas été déployé, il sera disponible demain matin.
<% } %>
\n
|     Changelog        |
|:---------------------|
|  $bundle.changelog   |
\n

Exécuté par ** $signature **