#### $title \n
Description : _ $description _

| groupId | artifacId | version | CHANGELOG |
|:-------------------|:--------------------|----------------:|:---------------|
<% bundles.each{ it->
    out << "| $it.groupId | $it.artifactId | $it.releaseVersion | $it.changelog |"
} %>
\n
<$env.BUILD_URL|Détail du build> - <$env.JOB_URL|pipeline $env.JOB_NAME>\n

<% if(delivery) {
    out << "### Approvisionnement <$delivery.approUrl|$delivery.approId> : ** $delivery.status **"
%>
| Bundle | Target | Dictionnaire |
|:----------------|:---------------|:-----------------------------|
<% delivery.deliveredElements.each{ it->
        out << "| $it.bundleGAV | $it.target | $it.dictionaryGAV |"
    }
} %>

Exécuté par ** $signature **
