<html>
	<head>
		<title>$title</title>
		<style>
			body, pre, table { font-family: Arial, sans-serif; font-size: 14px;}
			.buildlog { font-family: monospace; font-size: 12px; }
			table { border-collapse: collapse; width: 100%; }
			th, td { border: 1px solid black; padding: 4px; text-align: left; }
			caption { font-weight: bold;}
			.SUCCESS, .install { color: green }
			.FAILURE, .fail { color: red }
			.UNSTABLE { color: orange }
			.NOT_BUILT, ABORTED { color: grey }
			.decomp { color: blue }
		</style>
	</head>
	<body>
		<p>Bonjour,</p>
		<p>Le projet <b>$projectName</b> a été livré sur le cadre <b>$cadre</b> en version <b>$bundle.releaseVersion</b>.</p>
		<% if(deploye){ %>
		    <p>Ce projet a aussi été déployé, il est prêt dés maintenant.</p>
		<% } else { %>
		    <p>Ce projet n'a pas été déployé, il sera disponible demain matin.</p>
		<% } %>

		<% if(bundle.changelog){ %>
				<table>
					<caption>CHANGELOG</caption>
					<tr><td><pre>$bundle.changelog</pre></td></tr>
				</table>
		<% } %>

		<p>Merci,</p>
		<p>$signature</p>
	</body>
</html>